.pic1 {
  height: 120px;
  width: 100%;
}

.pic2 {
  height: 100px;
  width: 100%;
}
.pic3 {
  height: 85px;
  width: 100%;
}
.p1 {
  color: rebeccapurple;
  font-size: 12px;
}
.btn1{
  outline: none;
  border: none;
  height: 40px;
  width: 23%;
  background: white;
  margin: 5px 1%;
  color: black;
  float: left;
}
